@import '../../../../styles/variables.scss';

.button {
  &:hover {
    opacity: 0.8;
  }
}

.primary {
  background-color: $primary;
  color: $green;
}

.rounded {
  border-radius: 50px;
  border: none;
  padding: 10px 30px;
  opacity: 1;
}

.shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(253, 186, 52, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(253, 186, 52, 1);
  box-shadow: 0px 0px 15px 0px rgba(253, 186, 52, 1);
  transition: opacity 1s ease;
}
